<div class="header-container">
    <div class="hc-height main-color ">
        <div class="hc-logo-title hc-center">SAM</div>
    </div>
    <div class="hc-height hc-menu-border hc-menu-bg-color">
        <div class="hc-menu hc-center">
            <a routerLink="/monitor" routerLinkActive="active">Monitor</a>
            <a routerLink="/settings" routerLinkActive="active">Settings</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
        </div>

    </div>
</div>

<router-outlet></router-outlet>